* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-color: #e6ddfb;
    cursor: url("cursor.png"), auto;
    display: grid;
    place-items: center;
}
.container {
    height: 80%;
    width: 70%; 
    border-radius: 4vw;
    background-color: white;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; 
}
.login-image {
    height: 100%;
    flex: 1 1 50%;
}
.login-image img {
    height: 100%;
    width: 90%;
    border-radius: 3vw;
    object-fit: cover;
}
.login {
    height: 100%;
    width: 100%;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-title {
    height: 50px;
    width: 100%;
}
.login-form {
    height: 50px;
    width: 100%;
}
.login-reset-password {
    height: 50px;
    width: 100%;
}

@media (max-width: 750px) {
    .container {
        padding: 10px;
    }
    .login-image {
        height: 50%;
        flex-basis: 100%;
    }
    .login-image img {
        height: 90%;
        width: 100%;
    }
    .login {
        height: 50%;
        flex-basis: 100%;
    }
}